<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GIS Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'portfolio/css/styles.css' %}">
    <link rel="stylesheet" href="https://use.typekit.net/cmg3mqs.css">
</head>
<body>
    <header>
        <nav class="base__nav" id="navbar">
            <ul class="base__nav-name">
            <li ><a class="base__nav-name-link" href="{% url 'home' %}">Lucy Dunshea.</a></li>
            </ul>
            <ul class="base__nav-sections">
            <li><a class="base__nav-sections-link" href="{% url 'projects' %}">projects</a></li>
            <li><a class="base__nav-sections-link" href="{% url 'about' %}">about</a></li>
            <li><a class="base__nav-sections-link" href="{% url 'blog' %}">blog</a></li>
            </ul>
            <ul class="base__nav-contact">
            <li><button href="mailto:lucydunshea6@gmail.com" class="base__nav-contact-link"><a class="base__nav-contact-button" href="mailto:lucydunshea6@gmail.com">contact</a></button></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <script src="{% static 'portfolio/js/scripts.js' %}"></script>
</body>
</html>

