{% extends 'portfolio/base.html' %}

{% block content %}
{% load static %}
<div class="projects-section">
    <h1 class="projects-section__title">Past Projects</h1>
    <div class="projects-section__container">
        <div class="projects-section__project">
            <ul class="projects-section__project-list">
                {% for project in projects %}
                <li class="projects-section__project-detail">
                    <p>{{ project.title }}</p>
                    <p>{{ project.category }}</p>
                    <a class="projects-section__project-detail-link" href="{% url 'project_detail' project.pk %}">
                        {% if project.image %}
                        <div class="projects-section__project-card">
                            <img src="{{ project.image.url }}" class="projects-section__item-image" alt="{{ project.title }}">
                        </div>
                        {% endif %}
                    </a>
                </li>
                {% endfor %}

        </div>
        </div>
        </div>
{% endblock %}