{% extends 'portfolio/base.html' %}

{% block content %}
{% load static %}
<div class="project-detail-section">
    <h1 class="project-detail-section__title">{{ project.title }}</h1>
    <div class="project-detail-section__container">
        <div class="project-detail-section__image">
            {% if project.image %}
            <img class="project-detail-section__image" src="{{ project.detail_image.url }}" alt="{{ project.title }}">
            {% endif %}
        </div>
        <div class="project-detail-section__first">
            <div class="project-detail-section__sketch">
                {% if project.sketch %}
                <img class="project-detail-section__sketch-image" src="{{ project.sketch.url }}" alt="{{ project.title }}">
                {% endif %}
            </div>
            <div class="project-detail-section__description">
                <p class="project-detail-section__description-text">{{ project.short_description }}</p>
            </div>
        </div>
            <h2 class="project-detail-section__description-title">Technologies</h2>
            <p class="project-detail-section__description-text">{{ project.technologies }}</p>
        </div>
        <button class="project-detail-section__button"><a href="{{ project.pdf }}" class="project-detail-section__button-text">Full Project</a></button>
    </div>

</div>
{% endblock %}