{% extends 'portfolio/base.html' %}
{% block content %}
{% load static %}

<div class="blog-section">
    <div class="blog-section__container">
        {% for blog in blogs %}
        <div class="blog-section__blog">
            <div class="blog-section__blog-card">
                <p class="blog-section__info">{{ blog.title }}
                <a class="blog-section__blog-detail-link" href="{% url 'blog_detail' blog.slug %}">
                    {% if blog.image %}
                    <div class="blog-section__blog-card">
                        <img src="{{ blog.image.url }}" class="blog-section__item-image" alt="{{ blog.title }}">
                    </div>
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    </div>
</div>
<p>Blog page</p>
{% endblock %}

{% block title %}Blog{% endblock %}