/* Base Items */

body {
    background-color: #D9D8C7;
    font-family: "neue-haas-grotesk-text", sans-serif;
}

.base__copyright {
    font-family: "adelle-mono", monospace;
    font-weight: 400;
    color: #d54315;
    position: fixed;
    bottom: 0;
    font-size: 9pt;;
}

/* Navbar */

.base__nav {
   text-decoration: none;
   font-weight: 700;
   color:#d54315;
   padding-top:0%;
   display:flex;
   flex-direction: row;
   position: relative;
   width: 100%;
}

.base__nav-name {
    list-style-type: none;
    display: inline;
    font-size: 24pt;
}

.base__nav-name:hover {
    color:#5e2418;
}

.base__nav-name-link {
    display: inline;
    font-weight: 700;
    color:#d54315;
    text-decoration: none;
}

.base__nav-sections {
    list-style-type: none;
    display: inline;
    padding-left: 40%;
}

.base__nav-sections-link {
    text-decoration: none;
    font-weight: 700;
    color:#d54315;
    font-size: 12pt;
}

.base__nav-contact {
    list-style-type: none;
    text-decoration: none;
    display: inline;
    position: absolute;
    right: 2%;
    font-size: 12pt;
}

.base__nav-contact-link {
    background: #d54315;
    font-family: inherit;
    color: #D9D8C7;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 16px;
    border: 3px solid #D9D8C7;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
  }
  
  .base__nav-contact-link:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
  .base__nav-contact-link:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }
  
  .base__nav-contact-button {
    text-decoration: none;
    color: #D9D8C7;
  }

/* Home Section */

.home-section {
    display:flex;
    flex-direction: column;
    position: absolute;
    padding-left: 10%;
    padding-top: 20px;
}
.home-section__container {
    align-items: center;
    left: 20%;
}

.home-section__text {
    font-family: "adelle-mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: #d54315;
}

.home-section__expertise {
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.home-section__expertise-item::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
.home-section__expertise-item:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
.home-section__expertise-item::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: #5e2418;
    z-index: -1;
    transition: transform .5s ease;
  }

.home-section__expertise-item {
    text-decoration: none;
    font-weight: 700;
    font-size: 4.5vw;
    font-style: bold;
    color: #d54315;
    position: relative;
}

.home-section__map {
    z-index: -1;
}

.home-section__map-image {
    position: fixed;
    top: 0px;
    right: 0%;
    width: 40%;
}


/* Home Section Button */
.home-section__button-container {
    position: relative;
    align-self: center;
    padding-top: 5%;
}

.home-section__button {
    background: #D9D8C7;
    font-family: inherit;
    color: #d54315;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 16px;
    border: 3px solid #d54315;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
}

.home-section__button:hover {
transform: translate(-0.05em, -0.05em);
box-shadow: 0.15em 0.15em;
}

.home-section__button:active {
transform: translate(0.05em, 0.05em);
box-shadow: 0.05em 0.05em;
}

.home-section__button-text {
    text-decoration: none;
    color: #d54315;
}

/* CV Section */

.cv-section {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 100px;
    font-family: "adelle-mono", monospace;
    font-weight: 400;
    font-style: normal;
    color:#d54315;
}

.cv-section__name {

}

.cv-section__title {
    
}

.cv-section__contact {
   
}

.cv-section__contact-item {

}

.cv-section__email {
    
}

.cv-section__profile {
    
}

.cv-section__small-heading {
   
}

.cv-section__profile-text {
    
}

.cv-section__skills {
    
}

.cv-section__skills-title {
   
}

.cv-section__skills-programming {
    
}

.cv-section__education {
    
}

.cv-section__education-item {
    
}

.cv-section__education-title {
   
}

.cv-section__education-text,
.cv-section__syllabus,
.cv-section__thesis,
.cv-section__project,
.cv-section__GPA {
    
}

.cv-section__experience {
    
}

.cv-section__job {
    
}

.cv-section__job-title {
    
}

.cv-section__job-company,
.cv-section__job-dates {
    
}

.cv-section__job-tasks {
   
}

.cv-section__other-experience {
    
}

/* Projects Styles */

.projects-section {
    color: #d54315;
    bottom: 0px;
}

.projects-section__title {
    padding-left: 20px;
    font-size: 32pt;
    font-weight: 700;
}

.projects-section__container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: 75vh;
    scrollbar-width: none;
}

.projects-section__project {
    display: flex;
    flex-direction: row;
}

.projects-section__project-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.projects-section__project-card {
   display: flex;
   flex-direction: column;
   padding-left: 10px;
   width: auto;
}

.projects-section__info {
    font-family: adelle-mono;
    font-weight: 400;
    font-size: 9pt;
    width:fit-content;
}

.projects-section__item-image {
    height: 60vh;
    filter: grayscale(100%);
    transition: filter .3s ease-in-out;
}

.projects-section__item-image:hover {
    filter: none;
}

/* Project Detail */

.project-detail-section {
}

.project-detail-section__title {
    font-size: 60pt;
    font-weight: 700;
    color: #d54315;
    padding-left: 5%;
}

.project-detail-section__container {
    padding-left: 10%;
    padding-right: 10%;
    max-height: 100%;
}

.project-detail-section__image {
    width: 100%;
    height: 100%;
    position: relative;
    top: -45px;
    z-index: -1;
}

.project-detail-section__first {
    display: flex;
    flex-direction: row;
    height: auto;
}

.project-detail-section__sketch {
    width: 500px;
}
.project-detail-section__sketch-image {
    height: 25%;
    filter: hue-rotate(90deg);
}

.project-detail-section__description {
    padding-left: 5%;
   
}

.project-detail-section__description-text {
    font-size: 18pt;
}

.project-detail-section__button {
    background: #D9D8C7;
    font-family: inherit;
    color: #d54315;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 16px;
    border: 3px solid #d54315;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
}

.project-detail-section__button-text {
    text-decoration: none;
    color: #d54315;
}